params {
    inputDir = "s3://fh-pi-jerome-k/nipt_pipeline/all_fastqs/"
    refPath = "s3://fh-pi-jerome-k/fasta-index-files/"
    viruses = ["hemoglobin_beta", "mcpyv"]
    outDir = "s3://fh-pi-jerome-k/nipt_pipeline/output"
}
docker.enabled = true

process {
  executor = 'awsbatch'
  queue = 'spot-test'
  cpus = 8
  memory = { 10 }
  errorStrategy = {  task.exitStatus in 137..140 ? 'retry' : 'terminate' }
  maxRetries = 3
}

aws.region = 'us-west-2'
aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
// todo: use a more restrictive role for child jobs:
// aws.batch.jobRole = 'arn:aws:iam::344850189907:role/Nextflow-NextflowStack-17CLZCCM-IAMNextflowJobRole-5CV3B8BGJMAK'
executor.awscli = '/home/ec2-user/miniconda/bin/aws'
workDir = 's3://fh-nextflow-metadata-bucket'


aws {
    region = 'us-west-2'
    batch {
        jobRole = 'arn:aws:iam::064561331775:role/fh-pi-jerome-k-batchtask'
    }
}
